html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.NavBar {
    display: flex;
    flex-direction: row;
    background-color: gray;
    padding: .5rem;
}

.NavRight {
    display: flex;
    flex-direction: row;
}

.Spacer {
    flex-grow: 1;
}