<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/stylesheet.css">
        <title>Summer Camp</title>
    </head>

    <body>
        <div class="NavBar">
            <div class="NavLeft">
                <a href="/home">Home</a>
            </div>
            <div class="Spacer"></div>
            <div class="NavRight">
                <a href="/discover">Discover</a>
                <a href="/settings">Settings</a>
            </div>
        </div>

        <div class="PageContent">

        </div>
    </body>
</html>