<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/stylesheet.css">
        <title>Playlist</title>
    </head>

    <body>
        <div class="NavBar">
            <div class="NavLeft">
                <% if (user) { %>
                    <p>Welcome, <span class="username"><em><%= user.username %></em></span></p>
                <% } %>
            </div>
            <div class="Spacer"></div>
            <div class="NavRight">
                <!-- <a href="/home">Home</a> -->
                <a href="/playlist" class="NavOp">Playlist</a>
                <a href="/discover" class="NavOp">Discover</a>
                <% if (user) { %>
                    <a href="/logout" class="NavOp">Logout</a>
                <% } %>
            </div>
        </div>

        <div class="PageContent">
            <h1 class="centeredText yP">Your playlist:</h1>
            <%- playlist %>
        </div>
    </body>
</html>